.editableText{
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}

.editableText>input,.editableText>p{
    width: 5rem;
    padding: 0.5rem 1rem;
    font-size: small;
}

.editableText>p{
    display: inline-block;
    margin: 0px;
    color: var(--text-light);
    font-weight: bold;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editableText>input{
    border: none;
    border-bottom: 2px solid var(--accent1-color);
    outline: none;
    background-color: unset;
    color: white;
}

.editableText>button{
    border: none;
    font-size: x-small;
    color: var(--accent1-color);
    background-color: unset;
    vertical-align: middle;
}

.editableText>button:hover{
    color: var(--text-light);
}