.gameBoard{
    width: 100%;
    max-width: 20rem;
    height: 20rem;
    margin: 1rem auto;
    text-align: center;
}

.gameBoard td{
    width: 33.333%;
    height: 33.333%;
}

.gameBoard button{
    width: 80%;
    height: 80%;
    padding: 0.5rem;
    font-family: "Chewy", system-ui;
    font-size: 4rem;
    line-height: 1;
    box-sizing: border-box;
    color: var(--text-dark);
    border: none;
    background-color: rgb(255, 238, 193);
}

.gameBoard button:hover{
    outline: 0.3rem solid var(--accent1-color);
}

.gameBoard button:active{
    outline: none;
}